<h1>
  INDEX DE PRODUCTOS
</h1>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Precio</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor='let producto of productos'>
			<td>{{producto.nombre}}</td>
			<td>{{producto.precio}}</td>
			<td>
				<i class="glyphicon glyphicon-remove" aria-hidden="true"
				(click)='eliminarProducto(producto.productoID)'></i>
				|
				<a [routerLink]="['/editarProducto',{id:producto.productoID}]">
					<i class="glyphicon glyphicon-edit" aria-hidden="true">
					</i>
				</a>
			</td>
		</tr>
	</tbody>
</table>